<template>
    <div>
        <form @submit="serverUpdate">
            <div class="form-group">
                <label for="input-1">Update Server Name</label>
                <input type="text" class="form-control" id="input-1" v-model="server_name_edit" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
                <label for="input-2">Update OS</label>
                <input type="text" class="form-control" id="input-2" v-model="server_os_edit" placeholder="Enter Your Email Address">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Save</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "edit",
        data(){
            return {
                server_name_edit: "",
                server_os_edit: "",
            }
        },
        methods: {
            serverUpdate(e){
                e.preventDefault();
                alert("this is update opt.");
            }
        }
    }
</script>

<style scoped>

</style>