<template>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Server Name</th>
                <th>OS</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody v-for="(server,index) in this.servers" :key="index">
            <tr>
                <td>{{server.name}}</td>
                <td>{{server.type}}</td>
                <td>
                    <button @click="editServer(server)" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i></button>&nbsp;
                    <button @click="showServer(server)" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button>&nbsp;
                    <button @click="deleteServer(server.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "list",
        data(){
            return {
                servers: [],
            }
        },
        created(){
            this.getData();
        },
        methods: {
            deleteServer(id){
                console.log(id);
                axios.get('http://my.uptime360.live/test.php?route=server_delete&id='+id)
                .then( () => {
                    this.getData();
                    this.$toastr.success('Server Deleted Successfully', 'Server Deleted');
                });

            },
            getData(){
                axios.get('http://my.uptime360.live/test.php?route=server')
                    .then(response => {
                        this.servers = response.data
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            editServer(server){
                this.$emit("server_key",server)
            },
            showServer(server){
                this.$emit("server_show",server)
            }
        }
    }
</script>

<style scoped>

</style>