<template>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">{{form_title}}</div>
                    <hr>
                    <form @submit="serverSubmit" v-if="add">
                        <div v-if="errors.length" class="errors">
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li v-for="(error,index) in errors" :key="index">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="input-1">Server Name</label>
                            <input type="text" class="form-control" id="input-1" v-model="server_name" v-bind:class="{'border-danger':name_error}" placeholder="Enter Server Name">
                        </div>
                        <div class="form-group">
                            <label for="input-2">OS</label>
                            <input type="text" class="form-control" id="input-2" v-model="server_os" v-bind:class="{'border-danger':os_error}" placeholder="Enter OS">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Save</button>
                        </div>
                    </form>
                    <form @submit.prevent="serverUpdate()" v-if="edit">
                        <div v-if="errors.length" class="errors">
                            <b>Please correct the following error(s):</b>
                            <ul>
                                <li v-for="(error,index) in errors" :key="index">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="input-1">Update Server Name</label>
                            <input type="text" class="form-control" id="input-3" v-model="server_name_edit" placeholder="Enter Server Name">
                        </div>
                        <div class="form-group">
                            <label for="input-2">Update OS</label>
                            <input type="text" class="form-control" id="input-4" v-model="server_os_edit" placeholder="Enter OS">
                        </div>
                        <input type="hidden" name="server_id">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary shadow-primary px-5"><i class="icon-lock"></i> Save</button>&nbsp;
                            <button type="button" @click="addPageLoad" class="btn btn-primary shadow-primary px-5"><i class="icon-plus"></i> add new</button>
                        </div>
                    </form>
                    <div v-if="show">
                        <div class="form-group">
                            <label for="input-1">Server Name</label>
                            <input type="text" class="form-control" id="input-5" v-model="server_name_show" readonly>
                        </div>
                        <div class="form-group">
                            <label for="input-2">OS</label>
                            <input type="text" class="form-control" id="input-6" v-model="server_os_show" readonly>
                        </div>
                        <div class="form-group">
                            <button type="button" @click="addPageLoad" class="btn btn-primary shadow-primary px-5"><i class="icon-plus"></i> add new</button>
                        </div>
                    </div>
<!--                    <edit v-if="edit" @server_key="getSingleServer"></edit>-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div v-if="status">
                            <list @server_key="getSingleServer" @server_show="serverShow"></list>
                        </div>
                        <div v-else>
                            <preloader></preloader>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .errors ul{
        list-style: none;
        padding-left: 0px;
        font-weight: 600;
        text-transform: capitalize;
    }
    .errors li{
        color: #f6424d;
    }
    .border-danger{
        border: 1px solid #f6424d;
    }
</style>

<script>
    import axios from 'axios';
    import list from './list.vue'
    import Preloader from "../../components/preloader.vue";
    // import edit from './edit.vue'
    export default {
        components: {
            Preloader,
            list
        },
        data(){
            return {
                errors: [],
                server_name: "",
                server_os: "",
                server_name_edit: "",
                server_os_edit: "",
                server_name_show: "",
                server_os_show: "",
                server_id: "",
                status: true,
                add: true,
                edit:false,
                show:false,
                form_title: "Add New Server",
                name_error: false,
                os_error: false,
            }
        },
        created(){

        },
        methods: {
            serverSubmit(e){
                e.preventDefault();
                this.errors = [];
                this.name_error = false;
                this.os_error = false;

                if (!this.server_name) {
                    this.errors.push('Name required.');
                    this.name_error = true;
                }
                if (!this.server_os) {
                    this.errors.push('OS required.');
                    this.os_error = true;
                }
                if(!this.errors.length){
                    var params = new URLSearchParams();
                    params.append('name', this.server_name);
                    params.append('os', this.server_os);
                    this.status = false;
                    axios.post("http://my.uptime360.live/test.php?route=server_create",params)
                        .then(() => {
                            this.status = true;
                            this.$toastr.success('Server Created Successfully', 'Server Created');
                            this.server_name = "";
                            this.server_os = "";
                        })
                        .catch(e => {
                            console.log(e)
                        })
                }
            },
            getSingleServer(server){
                this.errors = [];
                this.add = false;
                this.show = false;
                this.edit=true;
                this.server_id = server.id;
                this.server_name_edit = server.name;
                this.server_os_edit = server.type;
                this.form_title = "Update "+server.name+" Server";
            },
            serverUpdate(){
                this.errors = [];
                if (!this.server_name_edit) {
                    this.errors.push('Name required.');
                }
                if (!this.server_os_edit) {
                    this.errors.push('OS required.');
                }
                if (this.errors.length == 0){
                    var params = new URLSearchParams();
                    params.append('name', this.server_name_edit);
                    params.append('os', this.server_os_edit);
                    params.append('server_id', this.server_id);
                    this.status = false;
                    axios.post("http://my.uptime360.live/test.php?route=server_update",params)
                        .then(() => {
                            this.status = true;
                            this.$toastr.success('Server Updated Successfully', 'Server Updated');
                        })
                        .catch(e => {
                            console.log(e)
                        })
                }
            },
            addPageLoad(){
                this.name_error = false;
                this.os_error = false;
                this.edit = false;
                this.show = false;
                this.add = true;
                this.form_title = "Add New Server";
            },
            serverShow(server){
                this.add = false;
                this.edit = false;
                this.show = true;
                this.server_name_show = server.name;
                this.server_os_show = server.type;
                this.form_title = server.name+" Details";
            }
        },

    }
</script>

<style scoped>

</style>