<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Rocker - VueCli</title>
    <!--favicon-->
    <link rel="icon" href="<%= BASE_URL%>assets/images/favicon.ico" type="image/x-icon"/>
    <!-- Vector CSS -->
    <link href="<%= BASE_URL%>assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
    <!-- simplebar CSS-->
    <link href="<%= BASE_URL%>assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="<%= BASE_URL%>assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="<%= BASE_URL%>assets/css/animate.css" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="<%= BASE_URL%>assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link href="<%= BASE_URL%>assets/css/sidebar-menu.css" rel="stylesheet"/>
    <!-- Custom Style-->
    <link href="<%= BASE_URL%>assets/css/app-style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vuecli doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL%>assets/js/jquery.min.js"></script>
    <script src="<%= BASE_URL%>assets/js/popper.min.js"></script>
    <script src="<%= BASE_URL%>assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="<%= BASE_URL%>assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- waves effect js -->
    <script src="<%= BASE_URL%>assets/js/waves.js"></script>
    <!-- sidebar-menu js -->
    <script src="<%= BASE_URL%>assets/js/sidebar-menu.js"></script>
    <!-- Custom scripts -->
    <script src="<%= BASE_URL%>assets/js/app-script.js"></script>

    <!-- Vector map JavaScript -->
    <script src="<%= BASE_URL%>assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="<%= BASE_URL%>assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Chart js -->
    <script src="<%= BASE_URL%>assets/plugins/Chart.js/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" charset="utf-8"></script>
    <!-- Index js -->
<!--    <script src="<%= BASE_URL%>assets/js/index.js"></script>-->
  </body>
</html>
