<template>
    <div>
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <footer class="footer">
            <div class="container">
                <div class="text-center">
                    Copyright © 2018 Rocker Admin
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "FooterBar"
    }
</script>
