<template>
  <div class="hello">
    {{msg}}
    {{name}}
    {{users.title}}
    <div v-for="(user,index) in users" :key="index">
     {{user.title}}
    </div>
    <button @click="showAlert">Click</button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data(){
    return {
      name: "Shafa",
      users: {}
    }
  },
  mounted() {
    console.log("Mounted")
  },
  created(){
    fetch('https://jsonplaceholder.typicode.com/posts')
            .then(r => r.json())
            .then(j => this.users = j)
  },
  methods: {
    showAlert(){
      console.log("This is an alert")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
