<template>
    <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
        <div class="brand-logo">
            <router-link to="/">
                <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                <h5 class="logo-text">RockerAdmin</h5>
            </router-link> |
        </div>
        <ul class="sidebar-menu do-nicescrol">
            <li class="sidebar-header">MAIN NAVIGATION</li>
            <li>
                <router-link to="/">
                    <i class="icon-home"></i> <span>Dashboard</span>
                </router-link>
            </li>
            <li>
                <a href="javaScript:void();" class="waves-effect">
                    <i class="icon-briefcase"></i>
                    <span>Service</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li><router-link to="/server"><i class="fa fa-circle-o"></i> Server</router-link></li>
                    <li><router-link to="/website"><i class="fa fa-circle-o"></i> Website</router-link></li>
                    <li><router-link to="/check"><i class="fa fa-circle-o"></i> Check</router-link></li>
                    <li><router-link to="/blacklist"><i class="fa fa-circle-o"></i> Blacklist</router-link></li>
                </ul>
            </li>
            <li>
                <a href="javaScript:void();" class="waves-effect">
                    <i class="icon-settings"></i>
                    <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="sidebar-submenu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> General Settings</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Monitor Station</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Logs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "NavRoute"
    }
</script>
