<template>
    <vue-content-loading :width="300" :height="100">
        <rect x="0" y="25" rx="4" ry="1" width="95" height="10"/> <rect x="100" y="25" rx="4" ry="1" width="95" height="10"/> <rect x="200" y="25" rx="4" ry="1" width="95" height="10"/>
        <rect x="0" y="40" rx="4" ry="1" width="95" height="10"/> <rect x="100" y="40" rx="4" ry="1" width="95" height="10"/> <rect x="200" y="40" rx="4" ry="1" width="95" height="10"/>
        <rect x="0" y="55" rx="4" ry="1" width="95" height="10"/> <rect x="100" y="55" rx="4" ry="1" width="95" height="10"/> <rect x="200" y="55" rx="4" ry="1" width="95" height="10"/>
        <rect x="0" y="70" rx="4" ry="1" width="95" height="10"/> <rect x="100" y="70" rx="4" ry="1" width="95" height="10"/> <rect x="200" y="70" rx="4" ry="1" width="95" height="10"/>

    </vue-content-loading>
</template>

<script>
    import VueContentLoading from 'vue-content-loading';
    export default {
        name: "Preloader",
        components: {
            VueContentLoading,
        },
    }
</script>

<style scoped>

</style>