<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div>
                            <list></list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import list from './list.vue'
    export default {
        name: "Check",
        components: {
            list
        }
    }
</script>

<style scoped>

</style>