<template>
    <div>
        <vuetable ref="vuetable"
                  api-url="http://my.uptime360.live/test.php?route=checks"
                  :fields="fields" pagination-path="" @vuetable:pagination-data="onPaginationData" @vuetable-pagination:change-page="onChangePage"
        ></vuetable>
        <vuetable-pagination ref="pagination"></vuetable-pagination>
    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    export default {
        name: "list",
        components: {
            Vuetable,
            VuetablePagination
        },
        data(){
            return{
                fields: [
                    "name","port","timeout","action"
                ]
            }
        },
        methods: {
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page)
            }
        }
    }
</script>

<style scoped>

</style>