<template>
  <div id="app">
    <div id="wrapper">
      <div class="content-wrapper">
        <div class="container-fluid">
          <NavRoute/>
          <TopBar/>
          <router-view/>
          <FooterBar/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // @ is an alias to /src
  import NavRoute from '@/components/NavRoute.vue'
  import TopBar from '@/components/TopBar.vue'
  import FooterBar from '@/components/FooterBar.vue'

  export default {
    components: {
      NavRoute,
      TopBar,
      FooterBar
    }
  }
</script>

